/* Estilização do corpo da página */
body {
    font-family: 'Inter', sans-serif;
    background: #f0f4f8;
    color: #333;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Contêiner principal */
  .container {
    width: 100%;
    max-width: 500px; /* Define largura máxima */
    background: #ffffff;
    padding: 44px;
    padding-left: 30px;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 16px;
  }
  
  /* Título principal */
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #1a202c;
    margin-bottom: 20px;
  }
  
  /* Estilo para os rótulos */
  label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #4a5568;
    margin-bottom: 8px;
  }
  
  /* Estilo para os inputs e textarea */
  input, textarea {
    width: 100%;
    padding: 14px 0px 14px 14px;
    font-size: 14px;
    color: #2d3748;
    background: #f7fafc;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    margin-bottom: 16px;
    transition: all 0.3s ease;
  }
  
  textarea {
    max-width: 100%;
    min-width: 100%;
  }
  
  input:focus, textarea:focus {
    outline: none;
    border-color: #3182ce;
    background: #edf2f7;
  }
  
  .button-div {
    margin-left: 14px;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
  }
  
  button {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: #3182ce;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  
  button:hover {
    background: #2b6cb0;
  }
  
  button:active {
    transform: scale(0.98);
  }
  
  /* Estilo para exibir o feedback */
  #exibirFeedback {
    margin-top: 20px;
    margin-left: 14px;
    padding: 14px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    background-color: #f7fafc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    color: #2d3748;
    line-height: 1.6;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    button {
      font-size: 14px;
    }
  }
  